    /*comment in css*/
body {
    background-color: rgb(204, 242, 204);   
}

/* Adding CSS: have 3 methods
1. Inline: <tag style="css"></tag>
    Ex: <html style="background: blue"> --> style="Property: PropertyValue"
        </html>
        Used for adding style to particular section specifically.

2. Internal: <style> css </style>
    Ex: <head>
            <style>
                html{
                    background: blue;
                }
            </style>
        </head>
        Used when we target single web page.

3. External: <link href="style.css"/>
    Ex: write different css file:-
            html{
                background: blue;
            }

        Write html file it is ginna link with:-
            <head>
                <link rel="stylesheet" href="css_fileLink"/> --> rel means relationship and href gives lication of css file.
            </head>
*/ 