/*<tagName>{css code block} --> here tagName is the selector.*/
/*Ex: here body is the selector for all the component of body.*/
body{
    background-color: cornsilk;
}

h1{
    text-align: center;
}

/*If not specify for particular class or id then it is valid for all the tags which has same name as selector*/
/*Like for all h2 tag, this is applied by default*/
h2{
    color: blue;
}

/*For selecting particular class, use "." with name of that id. | class-selector*/
.red-class{
    color: red;
}

/*For selecting particular id, use "#" with name of that id. | id-selector*/
#green-id{
    color: green;
}

/*For selecting the particular attribute, use <tagName>[<attributeName>] | Attribute Selector*/
/*Select all the <h3> tag which have draggable attribute.*/
h3[draggable]{
    color: rgb(114, 3, 3);
}

/*We can also select the attribute selector by value*/
/*select all the <h4> tag with draggable="true"*/
h4[draggable="true"]{
    color:brown;
}

/*Universal selector: Selects everything, defines by default set values*/
*{
    color: rgb(26, 26, 166);
}



/*Although function of id and class selector is same,
    but the id-selector can be applied to only one element of that html file.
    where, the class-selector can be applied to many elements.

  1px: 1 pixel => 1/96th inch(0.26 mm square)
  1pt: 1 point => 1/72nd inch(0.35 mm square)
  1em: relative size to parent => 1*100% of parent size
  1rem: relative size to root => 1*100% of root size
*/
