/*Import external online font*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

#external_Onlinefont{
    /*font and font-size of particular id*/
    font-family: 'Protest Riot', sans-serif;
    font-size: 3rem;

    /*background color of the particular id*/
    background-color: #C7C8CC;

    /*set border for particular id*/
    /*border: <thickness> <style> <color>; these three properties are seperated by single space.
                thickness of border goes outward when we increase the value
                : We can also specify in particular direction as well*/
    
    border: 1px solid pink;
    border-bottom: 2px dashed red;

    /*set curvature at corner of the border*/
    border-radius: 10px;

    min-width: fit-content; /*Width can't be less than this value*/
}

#border{
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    
    /* given that four values are provided:
    border-width: <up> <right> <bottom> <left>;

    two values are provided:
    border-width: <up-down> <left-right>;*/
    border-width: 3px 6px  7px 4px;

    /*padding: 10px; means it pushing out my border by 20px in all sides with respect of my text area.
                we can also set padding in particular side as well: 
                        padding-top: ;*/
    /*given that four values are provided:
    padding: <up> <right> <bottom> <left>;

    two values are provided:
    padding: <up-down> <left-right>;*/
    padding: 10px;
    padding-top: 30px;

    /*margin is the part outside the border.
        margin: 50px; means margin from every side by 50px.
            we can also set margin in particular side as well: 
                        margin-top: ;*/
    /*given that four values are provided:
    margin: <up> <right> <bottom> <left>;

    two values are provided:
    margin: <up-down> <left-right>;*/
    margin: 50px;

    /*set minimum limit to shrink*/ 
    min-height: fit-content;
    min-width: fit-content;
} 

*{
    background-color: #B4B4B8;
}

/*
CSS inheritance:
    color: green !important; means this will be the 1st priority rule for this tag.
    (in css, more specific will win.)
        i.e.: properties inherit first:: Type       : inline css > internal css > external css.
                                      :: Specificity: id selector > class selector 
            : Position wise- bottom position rule will win.
                ex: li{
                        color: red;
                        color: blue;
                    }
                    output will be in blue. 
    
: Grouping of selector
    selector1, selector2{
        Property of selector(applied to both)
    }

    selector1 > selector2{
        ...
    }
        here selector1 is the parent and selector2 is the child, (selector2  must be direct decendent and inside selector1)
        helps to distinguish the selector from other of same name.

    selector1 selector2{
        ...
    }
        it gonna apply the css property to selector2 as long as it is the part/decendent of selector1.

    selector1selector2{
        ...
    }
        for being more specific, we use this. i.e apply css to all the selector1 which have selector2 as well, 
                                                    it can be chain for more selectors as well.
*/
